@import "../scss/variables.scss";

.title {
  color: white;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;

  a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
  }
  &__div {
    background-color: $default_brown_background;
    height: auto;
    position: absolute;
    top: 0%;
    left: 50%;
    z-index: 100;
    width: 50%;
    height: 100%;
    opacity: 0;
    animation: rightToLeft 0.4s forwards;
    a {
      font-size: 1.5rem;
      text-decoration: none;
      color: white;
    }
    h1 {
      font-size: 2rem;
      text-align: left;
      font-family: inherit;
      white-space: pre-wrap;
    }
  }
  &__disappear {
    opacity: 0;
    animation: leftToRight 0.4s forwards;
  }
}

.arrow {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

@keyframes rightToLeft {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes LeftToRight {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }

  100% {
    transform: translateX(200px);
    opacity: 1;
  }
}
