@import "../scss/variables.scss";

// .layout {
//   width: 100%;
//   height: 100vh;
//   background-color: $default_brown_background;
//   display: grid;
//   grid-template-columns: 1fr 2fr 1fr;
//   gap: 1px;
//   color: $default_brown_background;
//   &__column {
//     &:first-child,
//     &:last-child {
//       display: grid;
//       grid-template-rows: 1fr 2fr 2fr 2fr 2fr 1fr;
//       justify-content: center;
//       align-items: center;
//       gap: 1px;
//       row-gap: 10px;
//       background-color: $default_white_font;
//     }
//     &:nth-child(2) {
//       display: grid;
//       grid-template-rows: 1fr 8fr 1fr;
//       justify-content: center;
//       align-items: center;
//       gap: 1px;
//       background-color: $default_white_font;
//     }
//   }
// }
.layout {
  width: 100%;
  height: 100vh;
  display: flex;
  color: $default_brown_background;
  &__column {
    height: 100vh;
    &:first-child,
    &:last-child {
      height: 100vh;
      width: 30%;
    }
    &:nth-child(3) {
      height: 100vh;
      width: 55%;
    }
    &:nth-child(2),
    &:nth-child(4) {
      transform: translateY(-90rem);
      height: 100vh;
      animation: slidedown 1s ease-in forwards;
      width: 1px;
      background-color: $default_brown_background;
    }
  }
  &__row {
    &:first-child {
      height: 8%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid $default_brown_background;
    }
    &:nth-child(2),
    &:nth-child(4) {
      width: 100%;
      height: 1px;
      // background-color: $default_brown_background;
    }
    &:nth-child(3) {
      width: 100%;
      height: 84%;
    }
    &:last-child {
      height: 8%;
      width: 100%;
      border-top: 1px solid $default_brown_background;
    }
  }
}

@keyframes slidedown {
  50% {
    transform: translateY(-45rem);
  }

  100% {
    transform: translateY(0);
  }
}
