.layout {
  width: 100%;
  height: 100vh;
  background-color: #b07732;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1px;
  &__column {
    background-color: white;
    height: auto;
    &:first-child,
    &:last-child {
      display: grid;
      grid-template-rows: 1fr 2fr 2fr 2fr 2fr 1fr;
    }
    &:nth-child(2) {
      display: grid;
      grid-template-rows: 1fr 8fr 1fr;
    }
  }
}
